<h1><%= t('editing', name: t('product.title', count: 1)) %></h1>

<%= render 'form' %>

<%= link_to t('show'), @product, class: 'btn btn-info', role: :button %>
<%= link_to t('index'), products_path, class: 'btn btn-outline-secondary', role: :button %>
